* {
    box-sizing: border-box;
}

:root {
    --primary: #ffeeee;
    --secondary: #0941db;
    --tertiary: #6f90e9;
}

body {
    background: var(--primary);
    color: var(--secondary);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    flex-direction: column;
}

header {
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    text-align: center;
}

footer {
    border-top: 2px solid grey;
    text-align: center;
    font-style: italic;
}

form button{
    margin: 10px;
}

form input {
    outline: none;
    border: none;
    padding: 8px;
    margin: 15px;
    width: 50%;
    font-size: 18px;
    border: 2px solid var(--secondary);
    border-radius: 12px;
}

.high-scores {
    border: none;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 20px;
}

.sbt {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--secondary);
    font-size: 16px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    color: white;
}

.ans {
    width: 50vw;
    text-align: left;
    border: none;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--secondary);
    font-size: 25px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    color: white;
}

.btn:hover,
.ans:hover,
.sbt:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color: var(--tertiary);
}

section {
    display: inline;
}

#intro {
    white-space: pre;
}