* {
    box-sizing: border-box;
}

:root {
    --primary: #ffeeee;
    --secondary: #0941db;
}

body {
    background: var(--primary);
    color: var(--secondary);
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 10px 25px;
}